<div class="nav-padding" fxLayout="row" fxLayoutAlign="space-between center">
  <div>
    <img *ngIf="!appService.isDarkMode" src="assets/parrot.png" height="48">
    <img *ngIf="appService.isDarkMode" src="assets/parrot.png" height="48">
  </div>
  <div>
    <div class="text-color" fxLayoutGap="10px" fxLayoutAlign="center center">
      <span class="top-margin" *ngIf="appService.isDarkMode">
        <mat-icon>wb_sunny</mat-icon>
      </span>
      <span class="top-margin" *ngIf="!appService.isDarkMode" fxLayoutAlign="center center">
        <mat-icon>mode_night</mat-icon>
      </span>
      <mat-slide-toggle [(ngModel)]="appService.isDarkMode" color="warn" (click)="changeTheme($event)"></mat-slide-toggle>
      <button *ngIf="!appService.isSignin && !appService.isID" color="primary" (click)="signin()" mat-flat-button>Sign In</button>
      <button *ngIf="appService.isSignin" color="primary" (click)="signout()" mat-flat-button>Sign Out</button>
    </div>
  </div>
</div>