<div class="header">
  <mat-accordion>
    <form class="header-form" [formGroup]="headerForm">
      <ng-container formArrayName="values">
    <mat-expansion-panel #matExpansionPanel fxLayout="column" fxLayoutAlign="space-around" *ngFor="let _ of values.controls;  index as i"  (opened)="panelOpened(i)" (closed)="panelClosed(i)" [expanded]="panelOpenState && selectedIndex == i">
      <mat-expansion-panel-header>
        <mat-panel-title>
          NEW ACTIVITY
        </mat-panel-title>
      </mat-expansion-panel-header>
      
        <div fxLayout="column" fxLayoutAlign="center" [formGroupName]="i">
          
          <!-- <mat-form-field class="example-chip-list">
            <mat-label>Activities</mat-label>
            <mat-chip-list #chipList>
              <mat-chip *ngFor="let task of headerTasks" [selectable]="selectable" [removable]="removable" (removed)="remove(task)">
                {{task}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input placeholder="New activity..." #taskInput [formControl]="taskCtrl" [matAutocomplete]="auto" [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="add($event)">
            </mat-chip-list>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
              <mat-option *ngFor="let task of filteredHeaderTasks | async" [value]="task">
                {{task}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field> -->
          <mat-form-field class="example-chip-list">
            <mat-label>Task</mat-label>
            <input matInput placeholder="Task" formControlName="tasks" type="text">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Hazards</mat-label>
            <mat-select formControlName="hazards" multiple #hazardselect>
              <mat-select-trigger>
                {{hazardselect.value ? hazardselect.value[0] : ''}}
                <span *ngIf="hazardselect.value?.length > 1" class="example-additional-selection">
                  (+{{hazardselect.value.length - 1}} {{hazardselect.value?.length === 2 ? 'other' : 'others'}})
                </span>
              </mat-select-trigger>
              <mat-option *ngFor="let hazard of hazardList" [value]="hazard">{{hazard}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Severity</mat-label>
            <mat-select formControlName="severity" name="severity">
              <mat-option *ngFor="let val of severities" [value]="val.value">
                {{val.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Probability</mat-label>
            <mat-select formControlName="probability" name="probabaility">
              <mat-option *ngFor="let val of probabilities" [value]="val.value">
                {{val.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxLayout="column">
          <button mat-raised-button (click)="matExpansionPanel.close();" color="primary">
            Add Task to List
          </button>
        
        </div>
      
    <!-- <form class="header-form" [formGroup]="headerForm">
      <ng-container formArrayName="values">
      <div fxLayout="column" *ngFor="let _ of values.controls;  index as i">
        
        <div [formGroupName]="i" fxLayout="row" fxLayoutAlign="space-around center">
          <mat-form-field class="example-chip-list">
            <mat-label>Task</mat-label>
            <input matInput placeholder="Task" formControlName="tasks" type="text">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Hazards</mat-label>
            <mat-select formControlName="hazards" multiple #hazardselect>
              <mat-select-trigger>
                {{hazardselect.value ? hazardselect.value[0] : ''}}
                <span *ngIf="hazardselect.value?.length > 1" class="example-additional-selection">
                  (+{{hazardselect.value.length - 1}} {{hazardselect.value?.length === 2 ? 'other' : 'others'}})
                </span>
              </mat-select-trigger>
              <mat-option *ngFor="let hazard of hazardList" [value]="hazard">{{hazard}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Severity</mat-label>
            <mat-select formControlName="severity" name="severity">
              <mat-option *ngFor="let val of severities" [value]="val.value">
                {{val.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Probability</mat-label>
            <mat-select formControlName="probability" name="probabaility">
              <mat-option *ngFor="let val of probabilities" [value]="val.value">
                {{val.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
      </div>
      </div>
    </ng-container>
    <button mat-flat-button (click)="addHazards()">Add More</button>
    </form> -->
  </mat-expansion-panel>
</ng-container>
</form>
<div fxLayoutAlign="center">
  <button color="primary" mat-flat-button (click)="addMoreTasks()" *ngIf="!panelOpenState">Add More</button>
</div>
</mat-accordion>
</div>